@page "/categories/{id:int}"
@inject ApplicationDbContext Context
@rendermode InteractiveServer

@if (Model != null)
{
	<h1>Detalhes Categoria @Id</h1>

	<EditForm Model="Model">
		<div class="mb-3">
			<label class="form-label">Nome da categoria</label>
			<InputText @bind-Value="Model.Title" class="form-control" readonly/>
		</div>
	</EditForm>
}
else
{
	<p class="text-center">
		<em>Categoria não encontrada</em>
	</p>
}
@code {
	[Parameter]
	public int Id { get; set; }

	public Category? Model { get; set; } = new();

	protected override async Task OnInitializedAsync()
	{
		Model = await Context.Categories.FirstOrDefaultAsync(x => x.Id == Id);
	}
}